.heromid{
    position: absolute;
    width: 1920px;
    height: 600px;
    left: 0px;
    top: 100px;
}

.hero{
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */


    /* Neutral / White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.hmimg{
    position: absolute;
width: 670px;
height: 570px;
right: 375px;
top: calc(50% - 570px/2);
}

.txhr2{
    background: linear-gradient(207.67deg, #FDAE8F 3.43%, #FD1C68 104.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}